.selectedPage {
   font-weight: bold;
}
.paginator {
   margin: 10px;
}
.pageNumber {
   padding: 2px;
   border: 1px solid salmon;
   cursor: pointer;
   margin-right: 5px;
}
.pageNumber.selectedPage {
   font-weight: bold;
   border-color: black;
}