.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}
.dialogsItems {
   padding: 1em;
}
.dialogsItems .active {
   color: gold;
}
.messages {
   padding: 1em;
}
.message {
   color: white;
}
.dialog a{
   color: rgb(28, 5, 31);
   text-decoration: none;
}